<div class="container">
  <div class="full">
    <p><%= link_to "See all colleges", colleges_path %></p>

    <% if @latitude.blank? || @longitude.blank? %>
      <h1>Colleges matching '<%= @query %>'</h1>
    <% elsif @query.blank? %>
      <h1>Colleges near <%= @latitude %>, <%= @longitude %></h1>
    <% else %>
      <h1>Colleges matching '<%= @query %>' near <%= @latitude %>, <%= @longitude %></h1>
    <% end %>
  </div>
</div>

<%= render "layouts/colleges" %>
