<%= form_tag("/colleges/search", method: "get") do %>
  <%= label_tag(:query, "Search colleges") %>
  <%= search_field_tag(:query, @query) %>
  <%= submit_tag("Go") %>
<% end %>

<div class="container">
  <div class="left-half">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Enrollment</th>
          <th>City</th>
          <th>State</th>
        </tr>
      </thead>

      <tbody>
        <% @colleges.each do |college| %>
          <tr>
            <td><%= link_to college.name, college_path(college) %></td>
            <td><%= college.enrollment %></td>
            <td><%= college.city %></td>
            <td><%= college.state %></td>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="right-half">
    <div id="map"></div>
  </div>
</div>

<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: {
        lat: 39.34,
        lng: -94.77
      }
    });

    // Create an array of alphabetical characters used to label the markers.
    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

    // Add some markers to the map.
    // Note: The code uses the JavaScript Array.prototype.map() method to
    // create an array of markers based on a given "locations" array.
    // The map() method here has nothing to do with the Google Maps API.
    var markers = locations.map(function(location, i) {
      return new google.maps.Marker({
        position: location,
        label: labels[i % labels.length]
      });
    });

    // Add a marker clusterer to manage the markers.
    var markerCluster = new MarkerClusterer(map, markers,
        {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
  }
  var locations = <%= @colleges.map do |college|
    { lat: college.latitude, lng: college.longitude }
  end.to_json.html_safe %>
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>
